@import 'variables';

.page-container {
    position: relative;

    @media screen and (max-width: @mobile-width-max) {
        max-width: 90%;
    }

    .page {
        height: 100%;
        background-color: green;
    }
}
