@import 'variables';

.page-container {
    position: relative;
    background-color: green;

    @media screen and (max-width: @hide-navbar-labels-width) {
        margin-left: @sidebar-mobile-width;
    }

    @media screen and (min-width: @hide-navbar-labels-width) {
        margin-left: @sidebar-desktop-width;
    }

    .page {
        height: 100%;
    }
}
