.settings-form {
    position: relative;

    .form-item {
        max-width: 25em;
        margin-bottom: 1em;
        margin-right: 3em;

        .article-content {
            height: auto;

            label {

                input {
                    height: 1.9em;
                }
            }
        }

        a#change-password-button {
            float: right;
        }
    }
}
