@import 'variables';
@import 'utilities.less';

.top-bar {
    background-color: #78BBFF; // #1f2a4b; // #497df1; //> #2284B9;
    position: relative;
    max-width: 100% !important;
    height: @topbar-height;

    .mobile-burger {
        margin-left: @sidebar-icon-mobile-margin-left;

        @media screen and (min-width: @hide-navbar-labels-width) {
            display: none;
        }
    }

    .title-bar-title {
        margin-left: .1em;
        color: white;
        font-weight: normal;

        @media screen and (max-width: @hide-navbar-labels-width) {
            margin-left: .8em;
        }
    }

    .profile-btn {
        cursor: pointer;
        height: 2.7em;
        padding: .2em;
        float: left;

        .profile {
            background: url("@{PUBLIC_IMGS_URL}profile.svg") no-repeat;
            background-size: 100%;
            height: 2em;
            width: 2em;
            float: left;
        }

        .arrow {
            background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>") no-repeat;
            background-size: 100%;
            height: .8em;
            width: .8em;
            margin-top: .8em;
            margin-left: .6em;
            position: relative;
            float: left;
        }
    }

    #profile-dropdown {
        #real-account-btn {
            margin-right: .5em;
        }

        #demo-account-btn {
            margin-left: .5em;
        }

        .button {
            .round-borders-1;

            &:hover, &:focus {
                .active;
            }
        }

        .active {
            border: 1.5px solid #000000 !important;
        }
    }

    .balance-wrapper {
        float: right;

        .demo {
            color: gray;
        }

        .real {
            color: green;
        }
    }

    #balance {
        margin-bottom: 0;
        margin-left: 1em;
        margin-right: 5em;
        margin-top: .1em;
        font-size: 1.5em;
    }
}
