#trade {
    width: 100%;
    height: 100%;
    position: relative;

    .trade-content-wrapper {
        width: 100%;
        height: 100%;

        #trading-chart {
            width: 100%;
            height: 100%;
        }
    }
}
