@BASE_PORT: ":33623";
@BASE_URL: "http://localhost@{BASE_PORT}/";
@PUBLIC_IMGS_URL: "@{BASE_URL}public/img/";

@mobile-width-max: 768px;
@tablet-width-max: 1024px;
@hide-navbar-labels-width: 1200px;

@topbar-height: 3.8em;

@sidebar-mobile-width: 3em;
@sidebar-icon-mobile-margin-left: .3em;
@sidebar-desktop-width: 10em;

@grey-dark: #3D3D3D;
@grey-ligth: rgba(90, 90, 90, 0.80);
